<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>Here's your fact</p>
    <%= catFact.fact %>


        <a href="/cats">Get Another!</a>



</body>

</html>